/* font-family: 'Source Sans Pro', sans-serif; */

*{
    margin:0;
    padding:0;
    /* border: .1px solid black; */
    font-size: 65.2%;
}

.backgroundImg{
    background-image:url(/images/header.jpg) ;
    background-size: cover;
    height:100vh;
    background-position: center;
}

.left-nav{
    width:40%;
}

.top-nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color:white;
    height:7vh;
    opacity: .9;
}

.logo{
    height:8vh;
}
ul{
    width:40%;
    display:flex;
    justify-content: space-between;
    list-style: none;
    font-size:3.5rem;
    font-family: 'Oxygen', sans-serif;
    color:#266035;
    font-weight: 100;
}

h1{
    font-size:6rem;
    color:white;
    text-align: center;
    margin-top:15rem;
    font-family: 'Oxygen', sans-serif;
    font-weight: 100;
}

h2{
    text-align: center;
    margin-top: 10rem;;
}

h2 a{
    font-size: 2.5rem;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    color:#266035;
    background-color:white;
    border:1px solid grey;
    padding:2rem;
    font-weight: 100;
}
/* Second Section */
.backgroundImg2{
    background-image: url(/images/about-img.jpg);
    background-size: cover;
    height:100vh;
    background-position: center;
}
 
.ourStory{
    padding-top: 35rem;
    margin-left:40%;
    background-position: relative;
}

h3{
    font-size:6rem;
    font-family: 'Oxygen', sans-serif;
    font-weight: 100;
    color:#266035;  
}
h4{
    background-color:#266035;
    color:white;
    font-size:3rem;
    width:20rem;
    height:4rem;
    text-align:center;
    font-family: 'Source Sans Pro', sans-serif;
}
.ourStory{
    margin-top: -24rem;;
}

p{
    padding-top:4rem;
    margin-left:60%;
    width:38%;
    font-size:2.5rem;
    font-weight:500;
    font-family: 'Source Sans Pro', sans-serif;
}

.plants{
    font-size:5rem;
    font-family: 'Oxygen', sans-serif;
    font-weight: 100;
    height:10vh;
    margin-left: 25%;
    margin-top: 5rem;
    color:#266035;
}
/* First Row in Our Plants */
.firstRow{
    margin-top: 3rem;
    width:100%;
    display:flex;
    justify-content: space-between;
}

.firstPlant{
    width:50%;
}

.firstPlantImg{
    width:100%;
}

.firstRight{
    margin-top: 25rem;
    width:40%;
}

.succulants{
    font-size: 5rem;
    margin-top:-10rem;
    margin-left: 5rem;
}

.sucP{
    color:black;
    font-size: 2rem;
    margin-left: 2rem;
    margin-top:-2rem;
    width:70%;
}
.shopOne{
    margin-left:7rem;
    margin-top: 5rem;;
}

.leftBox{
    margin-top:30rem;
    
}

.secondRow{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.leftBox{
    margin-top: 0rem;
    width:50%;
}
.cacti{
    font-size:5rem;
    margin-top: 0;
    margin-left:20rem;
}
.cactiP{
   font-size: 2rem;
   padding-top: 0;
   width:55%;
   margin-left:10rem;
}
.shopTwo{
    margin-left:15rem;
    margin-top:2rem;
}
.rightBox{
   width:50%;
}

.secondPlantImg{
  width:100%;
}

.thirdRow{
    width: 100%;
    height:60vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.thirdLeftBox{
    width:50%;
}

.thirdPlantImg{
    width:100%;
}
.thirdRightBox{
    width:50%;
}

.tropicals{
    margin-top:25rem;
    margin-left:25rem;
}
.tropicalsP{
    width:60%;
    margin-left:15rem;
}
.shopFour{
    margin-left:27rem;
    margin-top:5rem;
}